[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo sh -c 'curl -L https://raw.githubusercontent.com/LordQuerix/MuteTheDeck/main/install.sh | bash'
GenericName[en_US]=
GenericName=
MimeType=
Name[en]=Install MuteTheDeck
Name[es]=Instalar MuteTheDeck
Name=Install MuteTheDeck
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=